POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=watts4homes
POSTGRES_USER=watts4homes
POSTGRES_PASSWORD=replace-me-later
IGNITE_HTTP_PORT=8080

KAFKA_BOOTSTRAP_SERVERS=localhost:9092
IGNITE_HTTP_PORT=8080
IGNITE_ADDRESS=localhost:10800

GEMINI_API_KEY=replace-me-later
MAIL_HOST=replace-me-later
MAIL_USERNAME=replace-me-later
MAIL_PASSWORD=replace-me-later